* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #120af40f;
}
/* font frm google font */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: bold;
}

/* same css  */
.btn:hover {
  cursor: pointer;
  background-color: #6660ff;
  font-size: 17px;
}
.btn {
  background-color: #4e47ff;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}

/* steart css styling for my header part */
.header {
  background-image: url(Assets/Hero-bg.png);
  height: 698px;
  width: auto;
}
.header nav {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding: 50px;
  margin-left: 150px;
  margin-right: 150px;
  align-items: center;
}
.header nav h1 {
  font-weight: 900;
  font-size: 34px;
  color: #4e47ff;
}
.header nav h1:hover {
  cursor: not-allowed;
}
.header nav button {
  min-width: 132px;
  height: 48px;
}

.heder-text h1 {
  font-weight: bold;
  font-size: 65px;
}
.heder-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50vh;
}
.heder-text button {
  width: 174px;
  height: 48px;
  margin-top: 37px;
}

/* main style in the site */
main {
  max-width: 1140px;
  margin: 0 auto;
}
.section1 button {
  width: 229px;
  height: 48px;
  margin-top: 23px;
}
.section1 h1 {
  font-size: 42px;
}
#blank {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  background-color: gray;
  margin: 23px 0px;
}
.section1 h6 {
  font-weight: 400;
  font-size: 24px;
}
.section1 {
  margin-top: 116px;
  display: flex;
  height: 328px;
  justify-content: space-between;
}
.section1 img {
  border-radius: 20px;
}
.section2
{
background-color: #b1afd6;
}
